{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

    <div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category", style='font-family:Arial'>Team Palsekjo</h5>
                <h2 class="card-title", style='font-family:Pretendard'>당신의 얼굴이 말하는 플레이리스트</h2>

              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">송경준</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">최진수</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">변하영</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-tap-02"></i>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
<!--            <style>-->
<!--              .card-img-top { width: 1500px; }-->
<!--              /*.card-img-top { height: 100px; }*/-->
<!--            </style>-->
            <div class="text-area" style='color:gray;' style='font-family:Pretendard'>
              <img class="card-img-top" src="static/assets/img/dingple.png" alt="..." />
              <!-- <canvas id="chartBig1"></canvas> -->
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
          </div>
          <div class="card-body">
            <div class="chart-area">
              <img class="card-img-top" src="static/assets/img/emotion-graph.png" alt="..." />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->

    <div  id="player"></div>
    <iframe id="player" type="text/html" width="500" height="360"
        src="{{ youtubeUrl_2 }}?autoplay=1"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}