

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav" style="font-family: 'Noto Sans KR', sans-serif;">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="{% url 'Song_list' %}" class="nav-link">
                노래 목록 보기
              </a>
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="https://bit.ly/3fKQZaL">Music_streamer</a> 
            - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">Team Palsekjo</a>
          </div>
        </div>
      </footer>
      
