
{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Palsekjo - Emotion Rc page</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/assets/css/styles.css" rel="stylesheet" />
</head>
    <body>

        <div class="card-header">
            <div class="container px-4 px-lg-5 my-8">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">[당플리 시작하기]</h1>
                    <h6 class="lead fw-normal text-white-50 mb-0">표정에 따라 나오는 노래가 달라질거에요!</h6>
                        <div class="card-footer p-4 pt-0 border-top-0">
                            <div class="text-center"><a class="btn btn-primary btn-round" href="{% url 'stream' %}">당플리 시작하기</a></div>
                        </div>
                </div>
            </div>
        </div>
        <section class="py-5">
            <div class="card-body">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="static/assets/img/Carnegie_.jpg" style='color:white' height='200' alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder", style='color:black;'>앤드류 카네기</h5>
                                    <!-- Product price-->
                                    웃음이 적은 곳에서는 매우 작은 성공 밖에 이룰 수가 없다.
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="static/assets/img/Cheplin.jpg" height='200' alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder", style='color:black;'>찰리 채플린</h5>
                                    <!-- Product price-->
                                    웃음 없는 하루는 낭비한 하루다.
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="static/assets/img/oh.png" height='200' alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder", style='color:black;'>오드리 헵번</h5>
                                    <!-- Product price-->
                                    웃음은 수많은 질병들을 치료해준다. 웃음은 아마도 사람에게 가장 중요한 것이다.
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="static/assets/img/mk.jpg" height='200' alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder", style='color:black;'>마크 트웨인</h5>
                                    <!-- Product price-->
                                    웃음은 인류의 가장 효과적인 무기이다.
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="static/assets/img/cute_cat_any.jpg" height='200' alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder", style='color:black;'>귀여운 고양이 애니</h5>
                                    <!-- Product price-->
                                    정말 귀엽다
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="static/assets/img/haul_the_cat.jpg" height='200' alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder", style='color:black;'>우리 왕자님</h5>
                                    <!-- Product price-->
                                    고양이를 쓰다듬으면 스트레스를 완화하는 레닌 효소가 분비됩니다. 
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="static/assets/img/bird.gif" height='200' alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder", style='color:black;'>멧 도요새</h5>
                                    <!-- Product price-->
                                    귀엽다
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Team Palsekjo</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
